#navi-bar {
    box-shadow: 0px 0px 10px #408492;
    background: linear-gradient(to right, #1ba6de 0%, #a4d6e7 100%);
}
#help-body {
  padding-top: 80px;
}
.bread-crumb {
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0px;
}
.bread-crumb .icon {
  font-size: 14px;
}
.bread-crumb li {
  float: left;
}
.bread-crumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
.bread-crumb li:nth-child(even) a {
  background-color: #2980b9;
}
.bread-crumb li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
.bread-crumb li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
.bread-crumb li:first-child a {
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
}
.bread-crumb li:first-child a:before {
  border: none;
}
.bread-crumb li:last-child a {
  padding-right: 15px;
  border-radius: 0 4px 4px 0;

}
.bread-crumb li:last-child a:after {
  border: none;
}
.bread-crumb li a:before, .bread-crumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
.bread-crumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
.bread-crumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
.bread-crumb li a:hover {
  background-color: #1abc9c;
}
.bread-crumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
.bread-crumb li a:hover:after {
  border-left-color: #1abc9c;
}
.bread-crumb li a:active {
  background-color: #16a085;
}
.bread-crumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
.bread-crumb li a:active:after {
  border-left-color: #16a085;
}

.inner-form .input-field {
    height: 40px;
    width: 100%;
    position: relative;
    float: right;
}

.inner-form .input-field .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 14px;
    color: #666;
    border-radius: 34px;
}