@media (min-width: 768px) {
    .landing-background {
        height: 700px;
    }
}
@media (min-width: 1200px) {
    .section--header {
        padding-top: 14rem;
    }
}
.section--header {
    height: 95%;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;
    background: linear-gradient(to right, #0098d6 0%, #00cbd6 100%);
    /*background: url(../images/.jpg);*/
    /*background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);*/
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-attachment: fixed;
}
.intro {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    padding-top: 30px;
}
.section .intro__title {
    padding: 20px 0;
    font-size: 32px !important;
    font-weight: 400;
    font-size: 3rem !important;
}
.section .intro_text {
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    /*text-align: center;*/
}
.section .intro__description {
    font-size: 18px;
}

.section-shape {
    bottom: -4px;
    left: 0;
    position: absolute;
    right: 0;

}

.section-shape img {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.section-circle .shape {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.shape-style-1 span {
    width: 120px;
    height: 120px;
    border-radius: 100px 130px 100px 315px;
}

.shape span {
    position: absolute;
}

.shape-style-1 :nth-child(1) {
    bottom: auto;
    left: -3%;
    top: -20px;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 .circle-150 {
    width: 150px;
    height: 150px;
}

.shape-style-1 :nth-child(2) {
    top: 15%;
    right: 10%;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 .circle-50 {
    width: 50px;
    height: 50px;
}

.shape-style-1 :nth-child(3) {
    top: 80%;
    right: 40%;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 .circle-75 {
    width: 75px;
    height: 75px;
}

.shape-style-1 .circle-100 {
    width: 100px;
    height: 100px;
}

.shape-style-1 :nth-child(4) {
    top: 14%;
    right: 47%;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 :nth-child(5) {
    top: 54%;
    right: 60%;
    background: rgba(255, 255, 255, .1);
}




