#navi-bar {
    box-shadow: 0px 0px 10px #408492;
    background: linear-gradient(to right, #1ba6de 0%, #a4d6e7 100%);
}

#inner-course-body {
    padding-top: 80px;
}

.course-title {
    font-size: 2.5rem;
}

