#navi-bar {
    box-shadow: 0px 0px 10px #408492;
    background: linear-gradient(to right, #1ba6de 0%, #a4d6e7 100%);
}

#inner-course-body {
    padding-top: 80px;
}

.course-title {
    font-size: 2.5rem;
}

.course-menu-nav .nav-tabs .nav-link {
    background: #f9f9f9;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 0;
    border: 1px solid #eee;
    border-radius: 0;
}

.course-menu-nav .nav-tabs .nav-link i {
    margin-right: 7px;
}

.course-menu-nav .nav-tabs .nav-link.active {
    background: #fff;
    border: 0;
    border-top: 2px solid #02b3e4;
    color: #02b3e4;
}

.course-menu-nav .nav-tabs .nav-link.active i {
    color: #02b3e4;
}

@media screen and (max-width: 768px) {
    .course-menu-nav ul {
        display: block !important;
    }
}

.blog-author {
    margin: 0 0 30px 0;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.blog-author .media img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
}
img {
    height: auto;
    max-width: 100%;
}
img {
    border-style: none;
}

.instructor-profile .media .media-body {
    padding: 0;
}
.blog-author .media .media-body {
    padding: 23px 0;
}

.blog-author .media .media-body h5 {
    font-size: 16px;
    font-weight: 400;
    color: #454545;
    margin-bottom: 10px;
}

.blog-author .media .media-body .social-link ul {
    margin: 0;
    padding: 0;
}

.blog-author .media .media-body .social-link ul li {
    display: inline-block;
    margin-right: 20px;
}
.social-link ul li {
    list-style: none;
    display: block;
    color: #8a8a8a;
    margin-bottom: 20px;
}
