@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Cabin');
body, button, a.btn {
	font-family: 'Muli', sans-serif !important;
	/*font-size: 16px;*/
}
#navi-bar {
	transition: 0.4s;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    font-size: 26px !important;
    padding-top: 0 !important;
    color: #00b04c !important;
}
.navbar-nav {
    margin: 8px;
    z-index: 8;
}
.navbar .navbar-nav>.active>a {
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(6, 90, 250, 1) !important;
    z-index: 8;
    border-radius: 4px;
}
.navbar .navbar-nav .nav-link {
    color: #333333;
    font-size: 16px !important;
}
ul.navbar-nav li {
    margin-left: 8px;
    margin-right: 8px;
}
.navbar__over {
    background-color: #fff;
       box-shadow: 0px 0px 10px #d8d8d8;
}