@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Cabin');
body, button, a.btn {
	font-family: 'Muli', sans-serif !important;
	/*font-size: 16px;*/
    /*background-color: #eef9fb;*/
}
#navi-bar {
	transition: 0.4s;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-brand {
    font-size: 26px !important;
    padding-top: 0 !important;
    color: #fff !important;
    margin-right: 40px;
}
.navbar-nav {
    margin: 8px;
    z-index: 8;
}


.navbar .navbar-nav>.active>a {
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
    color: #0627a0 !important;
    z-index: 8;
    border-bottom: 2px solid;
    /*border-radius: 4px;*/
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px !important;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover {
    color: #0627a0 !important;
    border-bottom: 2px solid;
}

ul.navbar-nav li {
    margin-left: 8px;
    margin-right: 8px;
}

.navbar__over {
    box-shadow: 0px 0px 10px #408492;
    background: linear-gradient(to right, #1ba6de 0%, #a4d6e7 100%);
}

.bread-crumb {
  list-style: none;
  display: inline-block;
  -webkit-padding-start: 0px;
}
.bread-crumb .icon {
  font-size: 14px;
}
.bread-crumb li {
  float: left;
}
.bread-crumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
.bread-crumb li:nth-child(even) a {
  background-color: #2980b9;
}
.bread-crumb li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
.bread-crumb li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
.bread-crumb li:first-child a {
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
}
.bread-crumb li:first-child a:before {
  border: none;
}
.bread-crumb li:last-child a {
  padding-right: 15px;
  border-radius: 0 4px 4px 0;

}
.bread-crumb li:last-child a:after {
  border: none;
}
.bread-crumb li a:before, .bread-crumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
.bread-crumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
.bread-crumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
.bread-crumb li a:hover {
  background-color: #1abc9c;
}
.bread-crumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
.bread-crumb li a:hover:after {
  border-left-color: #1abc9c;
}
.bread-crumb li a:active {
  background-color: #16a085;
}
.bread-crumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
.bread-crumb li a:active:after {
  border-left-color: #16a085;
}