.m-content.w-100{
    padding: 0 !important;
}
.m-aside-left{
    width: 308px !important;
}
.m-card-profile .m-card-profile__pic{
    height: 170px;
}
.m-card-profile{
    height: 230px;
}
#m_aside_left{
    /* display: block !important;  */
    /* position: fixed !important; */
}
.m-content.w-100{
    /* float: right; */
}
.col-10{
    margin-left: 0px !important;
}
.col-2.col-form-label{
    text-align: left !important;
}