#navi-bar {
    background-color: #fff;
    box-shadow: 0px 0px 10px #d8d8d8;
}

.m-content.w-100{
    padding: 0 !important;
}
.m-aside-left{
    width: 308px !important;
}
.m-card-profile .m-card-profile__pic{
    height: 170px;
}
.m-card-profile{
    height: 230px;
}
#m_aside_left{
    /* display: block !important;  */
    /* position: fixed !important; */
}
.m-content.w-100{
    /* float: right; */
}
