<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Trang chủ | Hệ thống quản lý môn học LMS {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'stylesheets/vendors.bundle.css'%}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/style.bundle.css'%}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/main.css'%}"/>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    {% block bodycontent %}

    {% endblock %}
    <script type="text/javascript" src="{% static 'javascripts/vendors.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascripts/scripts.bundle.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascripts/base.js'%}"></script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>