django-mptt
django-haystack
markdown2
django-debug-toolbar
django-widget-tweaks
django-machina
django-guardian
reportlab0
djangorestframework

dj0ango==2.0.8
mysqlclient
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.6.0
Unipath==1.0
python-decouple==3
Pillow==5.0.0
Markdown==2.6.6
bleach==1.4.3
whitenoise==3.2
mysql-connector==2.1.4