{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Trang chủ | Hệ thống quản lý môn học LMS {% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/pi.png' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/vendors.bundle.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/style.bundle.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/themify-icons.css' %}"/>
    {#    <link rel="stylesheet" href="{% static 'stylesheets/custom/style.css'%}"/>#}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/main.css' %}"/>

    {% block stylesheets %}
    {% endblock %}
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="30"
      class="m-content--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside--offcanvas-default">
<div class="m-grid m-grid--hor m-grid--root m-page" id="main-app">
    <div class="nav-menu fixed-top" id="navi-bar">
        <div class="{% block navisize %} container {% endblock %}">
            <div class="row mx-0">
                <div class="col-md-12 px-0">
                    <nav class="navbar navbar-dark navbar-expand-xl">
                        <a class="navbar-brand" href="/">
                            <strong style="font-size: 30px">
                        <i class="fa fa-chalkboard" style="font-size: 30px"></i> PIEdu</strong>
                        </a>
                        <div>
                        <button id="m_aside_left_offcanvas_toggle" class="m--visible-tablet-and-mobile-inline-block p-0 mr-2">
                             <span class="fa fa-align-right" style="font-size: 30px; color: #fff"></span>
                        </button>
                        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbar"
                                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
                            <span class="fa fa-align-justify" style="font-size: 30px; color: #fff"></span>
                        </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-5 mr-auto">
                                <li data-toggle="tooltip" data-placement="bottom" title="Trang chủ"
                                    class="nav-item">
                                    <a class="nav-link {% block home %} {% endblock %}" href="/">TRANG CHỦ <span class="sr-only">(current)</span> </a>
                                </li>

                                <li class="nav-item m-dropdown m-dropdown--inline m-dropdown--arrow"
                                    m-dropdown-toggle="hover"
                                    aria-expanded="true">
                                    <a href="#" class="nav-link m-dropdown__toggle dropdown-toggle {% block course %} {% endblock %}">
                                        KHÓA HỌC <i class="fa fa-angle-down"></i> <span class="sr-only">(current)</span>
                                    </a>
                                    <div class="m-dropdown__wrapper" style="z-index: 101;">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav">
                                                        <li class="m-nav__item">
                                                            <a href="/course/my" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                                <span class="m-nav__link-text">KHÓA HỌC CỦA TÔI</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="/course/all" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">TẤT CẢ KHÓA HỌC</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item" data-toggle="tooltip"
                                    data-placement="bottom" title="Liên hệ, phản hồi">
                                    <a href="/contact" class="nav-link {% block contact %} {% endblock %}">LIÊN HỆ <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" data-toggle="tooltip"
                                    data-placement="bottom" title="Trợ giúp">
                                    <a class="nav-link {% block help %} {% endblock %}" href="/help">TRỢ GIÚP <span class="sr-only">(current)</span></a>
                                </li>

                            </ul>
                            <ul class="navbar-nav navbar-right">

                            {% if user.is_authenticated %}

                            <li class="m-nav__item m-topbar__user-profile m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light mr-0"
                                m-dropdown-toggle="click" aria-expanded="true">
                                <!--{ include 'share/_user.html' %}-->
                                <div class="btn-group">
                                    <a href="#" class="m-nav__link m-dropdown__toggle">
                                        <button id="user-menu" user-id="{{ user.id }}" type="button"
                                                class="btn btn-light">
                                            <span>
                                                <i class="fa fa-user"></i> &nbsp; Xin chào, {{ user.username }}
                                            </span>
                                            <span>
                                                <i class="m-menu__ver-arrow la la-angle-down" style="font-size:1rem"></i>
                                            </span>
                                        </button>
                                    </a>
                                    <div class="m-dropdown__wrapper" style="z-index: 101;">
                                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                              style="left: auto; right: 12.5px;"></span>
                                        <div class="m-dropdown__inner">
                                            <div class="m-dropdown__header m--align-center">
                                                <div class="m-card-user m-card-user--skin-light">
                                                    <div class="m-card-user__pic">
                                                        <!-- add attribute src  -->
                                                        <img class="m--img-rounded m--marginless" alt="">
                                                    </div>
                                                    <div class="m-card-user__details">
                                                        <span class="m-card-user__name m--font-weight-500">Tài khoản: {{ user }}</span>
                                                        <a href="" class="m-card-user__email m--font-weight-300 m-link">{{ user.email|default:_("Bạn chưa cập nhật email") }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m-dropdown__body">
                                                <div class="m-dropdown__content">
                                                    <ul class="m-nav m-nav--skin-light">
                                                        <li class="m-nav__section m--hide">
                                                            <span class="m-nav__section-text">Menu</span>
                                                        </li>
                                                        {% if user.is_superuser %}
                                                        <li class="m-nav__item">
                                                            <a href="/admin" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                <span class="m-nav__link-text">Quản lý Hệ thống</span>
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        <li class="m-nav__item">
                                                            <a href="/user" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-profile"></i>
                                                                <span class="m-nav__link-text">Trang cá nhân</span>
                                                            </a>
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="/account/password_change" class="m-nav__link">
                                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                <span class="m-nav__link-text">Đổi mật khẩu</span>
                                                            </a>
                                                        </li>

                                                        <li class="m-nav__separator m-nav__separator--fit">
                                                        </li>
                                                        <li class="m-nav__item">
                                                            <a href="/account/logout"
                                                               class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Đăng
                                                                xuất</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% else %}
                            <li {% block login %} {% endblock %} data-toggle="tooltip" data-placement="bottom"
                                title="Đăng nhập">
                                <a href="/login" class="btn m-btn--pill btn-light">
                                    <i class="fa fa-sign-in-alt"></i> &nbsp; Đăng nhập</a>
                            </li>
                            {% endif %}
                        </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--{ include 'common/navigation.html' %}-->
    {% block bodycontent %}

    {% endblock %}
    <div id="contact-cta" class="section">
        <div class="bg-image bg-parallax overlay"
             style="background-image:url({% static 'images/cta2-background.jpg' %})"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 class="white-text">Đăng ký nhận Email thông báo </h2>
                    <p class="lead white-text">Mỗi khi có khóa học mới, chúng tôi sẽ email thông báo đến bạn</p>
                    <a class="main-button icon-button" href="#">Đăng ký ngay</a>
                </div>
            </div>
			</div>
    </div>
{#<div id="app">#}
{#  <demo></demo>#}
{#</div>#}
    <footer id="footer" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<div class="footer-logo">
							<a class="navbar-brand" href="index.html">
                                <strong style="font-size: 30px">
                                    <i class="fa fa-chalkboard" style="font-size: 30px"></i> PIEdu</strong>
							</a>
						</div>
					</div>
					<div class="col-md-7">
						<ul class="footer-nav">
							<li><a href="/">TRANG CHỦ</a></li>
							<li><a href="/course/my">KHÓA HỌC CỦA TÔI</a></li>
							<li><a href="/course/all">TẤT CẢ KHÓA HỌC</a></li>
							<li><a href="/contact">LIÊN HỆ</a></li>
							<li><a href="/help">TRỢ GIÚP</a></li>
						</ul>
					</div>
				</div>
				<div id="bottom-footer" class="row">
                    <div class="col-md-8">
						<div class="footer-copyright">
							<span>© Copyright 2018. All Rights Reserved. | Team PIEdu - UET -VNU <i class="fa fa-heart" aria-hidden="true"></i></span>
						</div>
					</div>
					<div class="col-md-4">
						<ul class="footer-social">
							<li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" class="youtube"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- row -->

			</div>
			<!-- /container -->

		</footer>

    <div>
        <button class="btn btn-lg btn-info animated bounceInUp" data-toggle="tooltip" data-placement="left" id="gotop"
                title="Lên trên cùng">
            <i class="fa fa-angle-double-up m--regular-font-size-lg4"></i>
        </button>
    </div>
</div>
{#<script type="text/javascript" src="{% static 'javascripts/lib/vue.js' %}"></script>#}
<script type="text/javascript" src="{% static 'javascripts/lib/vendors.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/lib/scripts.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/lib/owl.carousel.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'javascripts/lib/wizard.js' %}"></script>#}

<script type="text/javascript" src="{% static 'javascripts/custom/base.js' %}"></script>
{% render_bundle 'main' %}
{% block javascripts %}
{% endblock %}
</body>
</html>
