{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Trang chủ | Hệ thống quản lý môn học LMS {% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'images/pi.png' %}"/>
    <link rel="stylesheet" href="{% static 'dist/vuetify.min.css' %}"/>
    <link href='https://fonts.googleapis.com/css?family=Muli:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylesheets/lib/vendors.bundle.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/style.bundle.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/owl.carousel.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/lib/themify-icons.css' %}"/>
    <link rel="stylesheet" href="{% static 'stylesheets/custom/main.css' %}"/>

    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{#<div id="main-app">#}
{#    <app></app>#}
{#</div>#}
{#<div id="main-app">#}
{#    <app-header fixed>#}
{#    </app-header>#}
{#    <div class="app-body mt-0">#}
{#        <app-sidebar fixed>#}
{#            <sidebar-header/>#}
{#            <sidebar-form/>#}
{#            <sidebar-nav></sidebar-nav>#}
{#            <sidebar-footer/>#}
{#            <sidebar-minimizer/>#}
{#        </app-sidebar>#}
{#        <main class="main">#}
{#            <!--<Breadcrumb :list="list"/>-->#}
{#            {% block bodycontent %}#}
{##}
{#            {% endblock %}#}
{#        </main>#}
{#        <app-aside fixed>#}
{#            <!--aside-->#}
{#            <default-aside/>#}
{#        </app-aside>#}
{#    </div>#}
{#    <the-footer>#}
{#    </the-footer>#}
<div id="main-app">
<app-drawer class="app--drawer"></app-drawer>
        <app-toolbar class="app--toolbar"></app-toolbar>
</div>
{##}
{#    <pi-footer></pi-footer>#}
{#    <go-top></go-top>#}
</div>
<script type="text/javascript" src="{% static 'javascripts/lib/vendors.bundle.js' %}"></script>
{#<script type="text/javascript" src="{% static 'javascripts/lib/scripts.bundle.js' %}"></script>#}
<script type="text/javascript" src="{% static 'javascripts/lib/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/base.js' %}"></script>
{% render_bundle 'main' %}
{% block javascripts %}
{% endblock %}
</body>
</html>
