{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/homepage.css' %}"/>
{% endblock %}
{% block home %} active {% endblock %}
{% block bodycontent %}
    <header class="bg-gradient" id="home">
        <div class="section--header m--padding-top-40-desktop">
            <div class="section-shape">
                <img src="{% static 'images/waves-shape.svg' %}" alt="shape image">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 animated bounceInLeft">
                        <div class="intro m--padding-top-50-desktop">
                            <!--<img src="../../static/images/uet.jpg" alt="" width=20% class="m&#45;&#45;img-rounded" style="margin-bottom: 40px">-->
                            <div class="intro_text">
                                <h2 class="intro__title">Hệ thống quản lý môn học</h2>
                                <p class="intro__description">Đại Học Công Nghệ - Đại Học Quốc Gia Hà Nội</p>
                            </div>
                            <div class="intro__buttons my-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% if user.is_authenticated %}

                                            {#                                            <button class="btn btn-primary" id="test">TEST PLeaSe DONT DELETE</button>#}

                                            <a href="#"
                                               class="btn m-btn--pill btn-outline-light m-btn--air m-btn--hover-light btn-lg">Khóa
                                                học của tôi</a>

                                        {% else %}
                                            <a href="/login"
                                               class="btn m-btn--pill btn-outline-light m-btn--air m-btn--hover-light btn-lg">Đăng
                                                nhập ngay</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 animated fadeInRight hide-sm">
                        <img src="{% static 'images/girl-with-comp.svg' %}" alt="" width="500vw">
                    </div>
                </div>

            </div>
            <div class="shape shape-style-1 shape-primary">
                <span class="circle-150"></span>
                <span class="circle-50"></span>
                <span class="circle-50"></span>
                <span class="circle-75"></span>
                <span class="circle-100"></span>
                <span class="circle-150"></span>
            </div>
        </div>
    </header>

    <div id="about" class="section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 animated fadeInRight">
                    <div class="m--margin-bottom-40">
                        <h2>Chào mừng bạn đến với PIEdu</h2>
                        <p class="lead">Hệ thống quản lý môn học tích hợp nhiều tính năng</p>
                    </div>
                    <!-- feature -->
                    <div class="feature">
                        <i class="feature-icon fa fa-flask"></i>
                        <div class="feature-content">
                            <h4>Học online </h4>
                            <p>Giáo trình, tài liệu được upload trực tiếp bởi giảng viên</p>
                        </div>
                    </div>
                    <!-- /feature -->
                    <!-- feature -->
                    <div class="feature">
                        <i class="feature-icon fa fa-users"></i>
                        <div class="feature-content">
                            <h4>Giảng viên có kinh nghiệm</h4>
                            <p>Đội ngũ giảng viên của trường XYZ cóa kinh nghiệm giảng dạy lâu năm</p>
                        </div>
                    </div>
                    <!-- /feature -->
                    <!-- feature -->
                    <div class="feature">
                        <i class="feature-icon fa fa-comments"></i>
                        <div class="feature-content">
                            <h4>Hỗ trợ trao đổi nhóm</h4>
                            <p>Trao đổi, học hỏi từ bạn bè thầy cô thông qua diễn đàn</p>
                        </div>
                    </div>
                    <!-- /feature -->
                </div>
                <div class="col-md-6 animated fadeInLeft">
                    <div class="about-img">
                        <img src="{% static 'images/about.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section light-bg" id="features">
        <div class="container">
            <div class="section-title">
                <h3>Thống kê hệ thống</h3>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="fa fa-user-graduate gradient-fill statistic-icon mx-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">
                                        <span class="count">70</span>
                                        <span><span class="fa fa-plus pb-2 vertical-align-top mt-2"></span><span
                                                class="fa fa-plus pb-2 vertical-align-top mt-2"></span></span>
                                        <span class="statistic-text"> giảng viên</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="fa fa-users gradient-fill statistic-icon mx-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">
                                        <span class="count">1000</span>
                                        <span><span class="fa fa-plus pb-2 vertical-align-top mt-2"></span><span
                                                class="fa fa-plus pb-2 vertical-align-top mt-2"></span></span>
                                        <span class="statistic-text"> sinh viên</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="fa fa-file-alt gradient-fill statistic-icon mx-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">
                                        <span class="count">200</span>
                                        <span><span class="fa fa-plus pb-2 vertical-align-top mt-2"></span><span
                                                class="fa fa-plus pb-2 vertical-align-top mt-2"></span></span>
                                        <span class="statistic-text"> tài liệu</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="section" id="gallery">
        <div class="container">
            <div class="section-title">
                <h3>Các Khóa học</h3>
            </div>
            <div class="img-gallery owl-carousel owl-theme">
                {% for i in '12345' %}
                <div class="w-100">
                    <div class="category-icon-title text-center ">
                        <div class="category-icon">
                            <i class="text-gradiant fa fa-calculator"></i>
                        </div>
                        <div class="category-title">
                            <h4>Toán</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- // end .section -->


    <div id="courses" class="section light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-header text-center">
                    <h2>Khám phá lớp học</h2>
                    <p class="lead">Các môn học bắt buộc, bổ trợ, chuyên ngành, ...</p>
                </div>
            </div>
            <div id="courses-wrapper">
                <div class="row">
                    {% for i in '1234' %}
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="course">
                                <a href="#" class="course-img">
                                    <img src="{% static 'images/code.jpg' %}" alt="">
                                    <i class="course-link-icon fa fa-link"></i>
                                </a>
                                <a class="course-title" href="#">Nhập môn an toàn thông tin</a>
                                <div class="course-details">
                                    <span class="course-category">CNTT</span>
                                    <span class="course-price course-free">TS. Nguyễn Đại Thọ</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row justify-content-center m--margin-top-30">
                <div class="center-btn">
                    <a class="main-button icon-button" href="#">Xem thêm lớp học ...</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row mb-4 justify-content-center">
                <div class="section-header text-center">
                    <h2>Bắt đầu với hệ thống ...</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Đăng nhập bằng tài khoản sinh viên/ giảng viên</h5>
                                <p class="mb-0">Tài khoản và mật khẩu mặc định là mã sinh viên/ mã giảng viên</p>
                                <a href="/login" class="m--regular  -font-size-lg1"> <i
                                        class="fa fa-angle-double-right"></i> &nbsp;<em>Đăng nhập ngay</em> </a>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Thay đổi thông tin tài khoản</h5>
                                <p>Bao gồm việc thay đổi mật khẩu và các thông tin cá nhân như email, số điện thoại, ảnh
                                    đại diện, ... </p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Khám phá hệ thống</h5>
                                <p>Khám phá và tham gia các khóa học đói với sinh viên <br> Tạo mới các khóa học và chấp
                                    nhận yêu cầu tham gia của sinh viên đối với giảng viên </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 py-lg-5">
                    <img src="{% static 'images/study.svg' %}" alt="iphone" class="img-fluid mt-lg-5">
                </div>

            </div>
        </div>
    </div>
    <div class="section light-bg">
        <div class="container">
            <div class="section-title">
                <small>FAQ</small>
                <h3>Frequently Asked Questions</h3>
            </div>
            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Can I try before I buy?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum,
                        urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien.
                        Vestibulum sit amet mattis ante. </p>
                    <h4 class="mb-3">What payment methods do you accept?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum,
                        urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien.
                        Vestibulum sit amet mattis ante. </p>
                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Can I change my plan later?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum,
                        urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien.
                        Vestibulum sit amet mattis ante. </p>
                    <h4 class="mb-3">Do you have a contract?</h4>
                    <p class="light-font mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum,
                        urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien.
                        Vestibulum sit amet mattis ante. </p>
                </div>
            </div>
            <div class="row justify-content-center m--margin-top-50">
                <div class="center-btn">
                    <a class="main-button icon-button" href="/help">Xem thêm trợ giúp</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 px-5">
                    <img src="{% static 'images/envelope.svg' %}" alt="dual phone" class="img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <h2>Bạn có phản hồi, thắc mắc khác ?</h2>
                        <p class="mb-4">Chúng tôi luôn sẵn sàng lắng nghe mọi ý kiến đóng góp của các bạn. Điều này giúp
                            chúng tôi cải thiện hệ thống để đem lại trải nghiệm tốt hơn cho cả Giảng viên và các sinh
                            viên </p>
                        <a href="/contact" class="btn btn-primary">Liên hệ</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/homepage.js' %}"></script>
{% endblock %}