{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Môn học | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/inner-class.css' %}"/>

{% endblock %}
{% block course %} active {% endblock %}

{% block bodycontent %}
    <div id="inner-course-body">
        <div class="hero-area section w-100">
            <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/br.jpg' %})"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <ul class="hero-area-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/course">Lớp học</a></li>
                            <li>INT3306 4</li>
                        </ul>
                        <h1 class="white-text">Phát triển Ứng dụng Web</h1>
                    </div>
{#                    <search></search>#}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mx-0 my-4">
                <div class="col-lg-3 col-sm-12 pr-3">
                    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light w-100 h-100">
                        <!-- BEGIN: Aside Menu -->
                        <div id="m_ver_menu"
                             class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
                             m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
                            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                                <li class="m-menu__section m-menu__section--first">
                                    <h4 class="m-menu__section-text m--regular-font-size-lg2">Danh sách môn học</h4>
                                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                                </li>
                                <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                                    m-menu-submenu-toggle="hover"><a href="javascript:;"
                                                                     class="m-menu__link m-menu__toggle"><i
                                        class="m-menu__link-icon flaticon-layers"></i><span
                                        class="m-menu__link-text">Resources</span><i
                                        class="m-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                        <ul class="m-menu__subnav">
                                            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                                    class="m-menu__link"><span
                                                    class="m-menu__link-text">Resources</span></span>
                                            </li>
                                            <li class="m-menu__item " aria-haspopup="true"><a href="inner.html"
                                                                                              class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Timesheet</span></a></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Payroll</span></a></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Contacts</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-suitcase"></i><span
                                        class="m-menu__link-text">Finance</span></a></li>
                                <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                                    m-menu-submenu-toggle="hover" m-menu-link-redirect="1"><a href="javascript:;"
                                                                                              class="m-menu__link m-menu__toggle"><i
                                        class="m-menu__link-icon flaticon-graphic-1"></i><span
                                        class="m-menu__link-title">  <span class="m-menu__link-wrap">      <span
                                        class="m-menu__link-text">Support</span>      <span
                                        class="m-menu__link-badge"><span
                                        class="m-badge m-badge--accent">3</span></span>  </span></span><i
                                        class="m-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                        <ul class="m-menu__subnav">
                                            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"
                                                m-menu-link-redirect="1"><span class="m-menu__link"><span
                                                    class="m-menu__link-title">  <span
                                                    class="m-menu__link-wrap">      <span
                                                    class="m-menu__link-text">Support</span>      <span
                                                    class="m-menu__link-badge"><span
                                                    class="m-badge m-badge--accent">3</span></span>  </span></span></span>
                                            </li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><span
                                                    class="m-menu__link-text">Reports</span></a>
                                            </li>
                                            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                                                m-menu-submenu-toggle="hover" m-menu-link-redirect="1"><a
                                                    href="javascript:;"
                                                    class="m-menu__link m-menu__toggle"><span
                                                    class="m-menu__link-text">Cases</span><i
                                                    class="m-menu__ver-arrow la la-angle-right"></i></a>
                                                <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                                    <ul class="m-menu__subnav">
                                                        <li class="m-menu__item " aria-haspopup="true"
                                                            m-menu-link-redirect="1">
                                                            <a href="inner.html" class="m-menu__link "><span
                                                                    class="m-menu__link-text">Pending</span></a></li>
                                                        <li class="m-menu__item " aria-haspopup="true"
                                                            m-menu-link-redirect="1">
                                                            <a href="inner.html" class="m-menu__link "><span
                                                                    class="m-menu__link-text">Urgent</span></a></li>
                                                        <li class="m-menu__item " aria-haspopup="true"
                                                            m-menu-link-redirect="1">
                                                            <a href="inner.html" class="m-menu__link "><span
                                                                    class="m-menu__link-text">Done</span></a></li>
                                                        <li class="m-menu__item " aria-haspopup="true"
                                                            m-menu-link-redirect="1">
                                                            <a href="inner.html" class="m-menu__link "><span
                                                                    class="m-menu__link-text">Archive</span></a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><span
                                                    class="m-menu__link-text">Clients</span></a>
                                            </li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><span
                                                    class="m-menu__link-text">Audit</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-light"></i><span class="m-menu__link-text">Administration</span></a>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-share"></i><span
                                        class="m-menu__link-text">Management</span></a></li>
                                <li class="m-menu__section ">
                                    <h4 class="m-menu__section-text">Reports</h4>
                                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-graphic"></i><span class="m-menu__link-text">Accounting</span></a>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-network"></i><span
                                        class="m-menu__link-text">Products</span></a></li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-network"></i><span
                                        class="m-menu__link-text">Sales</span></a></li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-alert"></i><span class="m-menu__link-title">  <span
                                        class="m-menu__link-wrap">      <span class="m-menu__link-text">Bills</span>      <span
                                        class="m-menu__link-badge"><span
                                        class="m-badge m-badge--danger">12</span></span>  </span></span></a></li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-technology"></i><span
                                        class="m-menu__link-text">IPO</span></a></li>
                                <li class="m-menu__section ">
                                    <h4 class="m-menu__section-text">System</h4>
                                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                                </li>
                                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                                    m-menu-submenu-toggle="hover"><a href="javascript:;"
                                                                     class="m-menu__link m-menu__toggle"><i
                                        class="m-menu__link-icon flaticon-clipboard"></i><span
                                        class="m-menu__link-text">Applications</span><i
                                        class="m-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                        <ul class="m-menu__subnav">
                                            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                                    class="m-menu__link"><span
                                                    class="m-menu__link-text">Applications</span></span></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Audit</span></a></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Notifications</span></a></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Messages</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                                    m-menu-submenu-toggle="hover"><a href="javascript:;"
                                                                     class="m-menu__link m-menu__toggle"><i
                                        class="m-menu__link-icon flaticon-computer"></i><span
                                        class="m-menu__link-text">Modules</span><i
                                        class="m-menu__ver-arrow la la-angle-right"></i></a>
                                    <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                        <ul class="m-menu__subnav">
                                            <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                                    class="m-menu__link"><span class="m-menu__link-text">Modules</span></span>
                                            </li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Logs</span></a></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Errors</span></a></li>
                                            <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                                    href="inner.html" class="m-menu__link "><i
                                                    class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                                    class="m-menu__link-text">Configuration</span></a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-cogwheel"></i><span
                                        class="m-menu__link-text">Files</span></a></li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-lifebuoy"></i><span
                                        class="m-menu__link-text">Security</span></a></li>
                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                        href="inner.html"
                                        class="m-menu__link "><i
                                        class="m-menu__link-icon flaticon-settings"></i><span
                                        class="m-menu__link-text">Options</span></a></li>
                            </ul>
                        </div>
                        <!-- END: Aside Menu -->
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="m-portlet p-4">
                        <div class="row m--margin-bottom-25">
                            <div class="col-lg-4 col-sm-12">
                                <img src="{% static 'images/code.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h2 class="course-title m--margin-top-10-mobile">Phát triển Ứng dụng Web</h2>
                                <p class="m--regular-font-size-lg2"><i class="fa fa-user"></i> Giảng viên: <a href="#">Hoàng
                                    Xuân Tùng</a></p>
                                <p class="m--regular-font-size-lg2"><i class="fa fa-qrcode"></i> Mã lớp học: INT3306 4
                                </p>
                                <p class="m--regular-font-size-lg2"><i class="fa fa-tag"></i> Môn học: <a
                                        href="#">CNTT</a></p>
                                <button class="btn m-btn btn-success">Tham gia Khóa học</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row mx-0 mt-3">
                            <div class="course-menu-nav">
                                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview"
                                           role="tab"
                                           aria-controls="overview" aria-selected="false"> <i
                                                class="far fa-file-alt"></i>
                                            Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="curriculum-tab" data-toggle="tab"
                                           href="#curriculum"
                                           role="tab" aria-controls="curriculum" aria-selected="true"><i
                                                class="fas fa-cube"></i> Curriculum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="instructor-tab" data-toggle="tab" href="#instructor"
                                           role="tab"
                                           aria-controls="instructor" aria-selected="false"><i class="far fa-user"></i>
                                            Instructor</a>
                                    </li>
                                </ul>
                                <div class="tab-content course-menu-tab" id="myTabContent">
                                    <div class="tab-pane fade" id="overview" role="tabpanel"
                                         aria-labelledby="overview-tab">
                                        <div class="w-100"></div>
                                        <p>He attended and graduated from medical school in 1976, having over 42
                                            years of diverse experience, especially in Cardiovascular Disease
                                            (Cardiology).</p>

                                    </div>
                                    <div class="tab-pane fade active show" id="curriculum" role="tabpanel"
                                         aria-labelledby="curriculum-tab">
                                        <p>He attended and graduated from medical school in 1976, having over 42
                                            years of diverse experience, especially in Cardiovascular Disease
                                            (Cardiology).</p>

                                    </div>
                                    <div class="tab-pane fade" id="instructor" role="tabpanel"
                                         aria-labelledby="instructor-tab">
                                        <div class="blog-author instructor-profile">
                                            <div class="media">
                                                <img src="images/speaker-1.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5>Dr. Stavens Madison</h5>
                                                    <p>He attended and graduated from medical school in 1976, having
                                                        over 42
                                                        years of diverse experience, especially in Cardiovascular
                                                        Disease
                                                        (Cardiology).</p>
                                                    <div class="social-link">
                                                        <ul>
                                                            <li class="facebook"><a href="#"> <i
                                                                    class="fab fa-facebook-f"></i>
                                                            </a></li>
                                                            <li class="pinterest"><a href="#"> <i
                                                                    class="fab fa-pinterest"></i>
                                                            </a></li>
                                                            <li class="instagram"><a href="#"> <i
                                                                    class="fab fa-instagram"></i>
                                                            </a></li>
                                                            <li class="twitter"><a href="#"> <i
                                                                    class="fab fa-twitter"></i> </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/inner-class.js' %}"></script>
{% endblock %}