{% extends 'basepage/mainbase.html' %} {% load staticfiles %} 
{% block title %} Trang cá nhân | Hệ thống quản lý môn học
LMS {% endblock %} {% block bodycontent %} {% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/user-page.css'%}" /> {% endblock %}

<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body row">

    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light col-sm-3">

        <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
                Your Profile
            </div>
            <div class="m-card-profile__pic">
                <div class="m-card-profile__pic-wrapper">
                    <img src="Uploads/39007042_2193527620973537_111659395825270784_n.jpg" alt="">
                </div>
            </div>
            <div class="m-card-profile__details">
                <span class="m-card-profile__name">Mark Andre</span>
                <a href="" class="m-card-profile__email m-link">mark.andre@gmail.com</a>
            </div>
        </div>
        <!-- BEGIN: Aside Menu -->

        <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light " m-menu-vertical="1"
            m-menu-scrollable="0" m-menu-dropdown-timeout="500">
            <div id = "ext">
                <ex2></ex2>
            </div>
            <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                <li class="m-menu__section m-menu__section--first">
                    <h4 class="m-menu__section-text">My profile</h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-suitcase"></i>
                        <span class="m-menu__link-text">Thông tin cá nhân </span>
                    </a>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-suitcase"></i>
                        <span class="m-menu__link-text">Đổi mật khẩu </span>
                    </a>
                </li>

                <li class="m-menu__section ">
                    <h4 class="m-menu__section-text">My courses</h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>

                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-alert"></i>
                        <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">Đang diễn ra</span>
                                <span class="m-menu__link-badge">
                                    <span class="m-badge m-badge--danger">6</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </li>

                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-alert"></i>
                        <span class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">Đã hoàn thành</span>
                                <span class="m-menu__link-badge">
                                    <span class="m-badge m-badge--danger">34</span>
                                </span>
                            </span>
                        </span>
                    </a>
                </li>



                <li class="m-menu__section ">
                    <h4 class="m-menu__section-text">Tùy chọn khác</h4>
                    <i class="m-menu__section-icon flaticon-more-v3"></i>
                </li>
                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-suitcase"></i>
                        <span class="m-menu__link-text">Liên hệ quản trị viên </span>
                    </a>
                </li>

                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                    <a href="#" class="m-menu__link ">
                        <i class="m-menu__link-icon flaticon-settings"></i>
                        <span class="m-menu__link-text">About</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END: Aside Menu -->
    </div>

    <div class="m-content w-100 col-sm-8" >

        <div class="col-xl-12 col-lg-12">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                    Quá trình học tập
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                    Thành tích
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right">
                            <div class="m-portlet__body">
                                

                                <div class="form-group m-form__group row">
                                    <div class="col-10">
                                        <h3 class="m-form__section">1. Thông tin cá nhân</h3>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Họ và tên</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="Mark Andre">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Trường học</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="CTO">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Khoa</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Ngành</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Lớp học</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Mã số sinh viên</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="">
                                    </div>
                                </div>
                               
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Số điện thoại</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="+456669067890">
                                    </div>
                                </div>

                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

                                <div class="form-group m-form__group row">
                                    <div class="col-10">
                                        <h3 class="m-form__section">2. Liên kết</h3>
                                    </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Linkedin</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="www.linkedin.com/Mark.Andre">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Facebook</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="www.facebook.com/Mark.Andre">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Github</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="www.twitter.com/Mark.Andre">
                                    </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Instagram</label>
                                    <div class="col-7">
                                        <input class="form-control m-input" type="text" value="www.instagram.com/Mark.Andre">
                                    </div>
                                </div>


                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-7">
                                            <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Save changes</button>&nbsp;&nbsp;
                                            <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_2">

                    </div>
                    <div class="tab-pane " id="m_user_profile_tab_3">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'javascripts/vue.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascripts/userpage/user-page.js'%}"></script>
{% endblock %}