{% extends 'basepage/classbase.html' %}
{% load staticfiles %}
{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}

{% block title %} Tất cả khóa học | Hệ thống quản lý môn học {% endblock %}

{% block class_stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/all-class.css' %}"/>

{% endblock class_stylesheets %}
{% block course %} active {% endblock %}
{% block bodycontent %}
    <div id="all-course-body">
        <div class="hero-area section w-100">
            <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/br.jpg' %})"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <ul class="hero-area-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li>Tất cả lớp học</li>
                        </ul>
                        <h1 class="white-text">Tất cả lớp học</h1>
                    </div>
{#                    <search></search>#}
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="row mx-0 my-4">
                <div class="col-lg-3 col-sm-12 pr-3">
                    <a-side></a-side>
                </div>
                <div class="col-lg-9 px-3">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <div class="row mx-0">
                            <div class="col-lg-8 col-sm-12 px-lg-2 px-0 m--margin-bottom-10-tablet-and-mobile">
                                <form action="">
                                    <div class="inner-form">
                                        <div class="input-field">
                                            <input id="search" type="text" placeholder="Tìm kiếm khóa học ..."
                                                   class="form-control"></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4 col-sm-12 text-right px-lg-2 px-0">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle w-100"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sắp xếp theo
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                         x-placement="top-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px);">
                                        <a class="dropdown-item" href="#" data-toggle="m-tooltip" title=""
                                           data-placement="left"
                                           data-original-title="Tooltip title">Phổ biến nhất</a>
                                        <a class="dropdown-item" href="#" data-toggle="m-tooltip" title=""
                                           data-placement="left"
                                           data-original-title="Tooltip title">Mới nhất</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-4 mx-0">
                            {% for subject in subjects %}
                                <div class="col-lg-4 p-0">
                                    <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded-force p-3 mx-lg-2">
                                        <div class="course-item-pic-text">
                                            <div class="course-pic relative-position m--margin-bottom-25">
                                                <img src="{{subject.avatar.url}}" alt="" height = 280px>
                                            </div>
                                            <div class="course-item-text">
                                                <div class="course-meta">
                                                    <span class="course-category bold-font"><a href="#">CNTT</a></span>
                                                    <span class="course-author bold-font"><a
                                                            href="#">Hoàng Xuân Tùng</a></span>
                                                    <span class="mr-0"><p class="font-weight-bold">INT3306 4</p></span>
                                                </div>
                                                <div class="course-title m--padding-top-10 headline m--padding-bottom-15 relative-position">
                                                    <h3>
                                                        {{subject.name}};
                                                        <!--<span class="trend-badge text-uppercase bold-font"><i class="fas fa-bolt"></i> TRENDING</span>-->
                                                    </h3>
                                                    <a class="m--pull-right m--margin-bottom-20 mt-1"
                                                       href="/course/1"><em>Xem
                                                        khóa học &nbsp; <i class="fa fa-arrow-right"></i></em></a>
                                                </div>
                                                <div class="course-viewer ul-li d-inline-block">
                                                    <ul>
                                                        <li><p class="m-0"><i class="fas fa-user"></i> 1.220</p></li>
                                                        <!--<li><p><i class="fas fa-comment-dots"></i> 1.015</p></li>-->
                                                        <li><p class="m-0">125k Unrolled</p></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_size %} container-fluid {% endblock %}

{% block class_javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/all-class.js' %}"></script>

{% endblock class_javascripts %}
