{% extends 'basepage/classbase.html' %}
{% load staticfiles %}
{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}

{% block title %} Tất cả khóa học | Hệ thống quản lý môn học {% endblock %}

{% block class_stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/all-class.css' %}"/>

{% endblock class_stylesheets %}
{% block course %} active {% endblock %}
{% block bodycontent %}
    <div id="all-course-body">
        <div class="hero-area section w-100">
            <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/br.jpg' %})"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <ul class="hero-area-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li>Tất cả lớp học</li>
                        </ul>
                        <h1 class="white-text">Tất cả lớp học</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pl-md-0">
            <div class="row mx-0 mb-4">
                <div class="col-xl-3 col-lg-12 pl-0 pr-3">
                    {% if user.is_lecturer %}
                        <a-side-lecturer></a-side-lecturer>
                    {% else %}
                        <a-side-student></a-side-student>
                    {% endif %}
                </div>
                <div class="col-xl-9 col-lg-12 px-3">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <div class="row mx-0">
                            <all-class></all-class>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_size %} container-fluid {% endblock %}

{% block class_javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/all-class.js' %}"></script>

{% endblock class_javascripts %}
