{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Liên hệ | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/contact.css' %}"/>
{% endblock %}
{% block contact %} active {% endblock %}

{% block bodycontent %}
  <contact-page></contact-page>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/contact.js' %}"></script>
{% endblock %}
