{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Trợ giúp | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/help.css' %}"/>
{% endblock %}
{% block help %} active {% endblock %}

{% block bodycontent %}
  <help-page></help-page>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/help.js' %}"></script>

{% endblock %}
