{% extends 'basepage/classbase.html' %}
{% load staticfiles %}

{% block title %} Môn học | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}
{% block class_stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/inner-class.css' %}"/>

{% endblock class_stylesheets %}
{% block course %} active {% endblock %}

{% block bodycontent %}
    <div id="inner-course-body">
        <div class="hero-area section w-100">
            <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/br.jpg' %})"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <ul class="hero-area-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/course">Lớp học</a></li>
                            <li>INT3306 4</li>
                        </ul>
                        <h1 class="white-text">Phát triển Ứng dụng Web</h1>
                    </div>
{#                    <search></search>#}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mx-0 my-4">
                <div class="col-lg-3 col-sm-12 pr-3">
                    {% if user.is_lecturer %}
                        <a-side-lecturer></a-side-lecturer>
                    {% else %}
                        <a-side-student></a-side-student>
                    {% endif %}
                </div>
                <div class="col-lg-9">
                    <inner-class></inner-class>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block class_javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/inner-class.js' %}"></script>
{% endblock class_javascripts %}
