{% extends 'basepage/classbase.html' %}
{% load staticfiles %}

{% block title %} Môn học | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}
{% block class_stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/inner-class.css' %}"/>

{% endblock class_stylesheets %}
{% block course %} active {% endblock %}

{% block bodycontent %}
    <div id="inner-course-body">
        <div class="hero-area section w-100">
            <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/br.jpg' %})"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <ul class="hero-area-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/course">Lớp học</a></li>
                            <li>INT3306 4</li>
                        </ul>
                        <h1 class="white-text">Phát triển Ứng dụng Web</h1>
                    </div>
{#                    <search></search>#}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mx-0 my-4">
                <div class="col-lg-3 col-sm-12 pr-3">
                    <a-side></a-side>
                </div>
                <div class="col-lg-9">
                    <div class="m-portlet p-4">
                        <div class="row m--margin-bottom-25">
                            <div class="col-lg-4 col-sm-12">
                                <img src="{% static 'images/code.jpg' %}" alt="" width="100%">
                            </div>
                            <div class="col-lg-8 col-sm-12">
                                <h2 class="course-title m--margin-top-10-mobile">Phát triển Ứng dụng Web</h2>
                                <p class="m--regular-font-size-lg2"><i class="fa fa-user"></i> Giảng viên: <a href="#">Hoàng
                                    Xuân Tùng</a></p>
                                <p class="m--regular-font-size-lg2"><i class="fa fa-qrcode"></i> Mã lớp học: INT3306 4
                                </p>
                                <p class="m--regular-font-size-lg2"><i class="fa fa-tag"></i> Môn học: <a
                                        href="#">CNTT</a></p>
                                <button class="btn m-btn btn-success">Tham gia Khóa học</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row mx-0 mt-3">
                            <div class="course-menu-nav">
                                <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview"
                                           role="tab"
                                           aria-controls="overview" aria-selected="false"> <i
                                                class="far fa-file-alt"></i>
                                            Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="curriculum-tab" data-toggle="tab"
                                           href="#curriculum"
                                           role="tab" aria-controls="curriculum" aria-selected="true"><i
                                                class="fas fa-cube"></i> Curriculum</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="instructor-tab" data-toggle="tab" href="#instructor"
                                           role="tab"
                                           aria-controls="instructor" aria-selected="false"><i class="far fa-user"></i>
                                            Instructor</a>
                                    </li>
                                </ul>
                                <div class="tab-content course-menu-tab" id="myTabContent">
                                    <div class="tab-pane fade" id="overview" role="tabpanel"
                                         aria-labelledby="overview-tab">
                                        <div class="w-100"></div>
                                        <p>He attended and graduated from medical school in 1976, having over 42
                                            years of diverse experience, especially in Cardiovascular Disease
                                            (Cardiology).</p>

                                    </div>
                                    <div class="tab-pane fade active show" id="curriculum" role="tabpanel"
                                         aria-labelledby="curriculum-tab">
                                        <p>He attended and graduated from medical school in 1976, having over 42
                                            years of diverse experience, especially in Cardiovascular Disease
                                            (Cardiology).</p>

                                    </div>
                                    <div class="tab-pane fade" id="instructor" role="tabpanel"
                                         aria-labelledby="instructor-tab">
                                        <div class="blog-author instructor-profile">
                                            <div class="media">
                                                <img src="images/speaker-1.png" alt="Generic placeholder image">
                                                <div class="media-body">
                                                    <h5>Dr. Stavens Madison</h5>
                                                    <p>He attended and graduated from medical school in 1976, having
                                                        over 42
                                                        years of diverse experience, especially in Cardiovascular
                                                        Disease
                                                        (Cardiology).</p>
                                                    <div class="social-link">
                                                        <ul>
                                                            <li class="facebook"><a href="#"> <i
                                                                    class="fab fa-facebook-f"></i>
                                                            </a></li>
                                                            <li class="pinterest"><a href="#"> <i
                                                                    class="fab fa-pinterest"></i>
                                                            </a></li>
                                                            <li class="instagram"><a href="#"> <i
                                                                    class="fab fa-instagram"></i>
                                                            </a></li>
                                                            <li class="twitter"><a href="#"> <i
                                                                    class="fab fa-twitter"></i> </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block class_javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/inner-class.js' %}"></script>
{% endblock class_javascripts %}
