{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Đăng nhập | Hệ thống quản lý môn học {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/login.css' %}">
    <style>

    </style>
{% endblock %}
{% block bodycontent %}
    <div id="login-background"
         class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            {% if user.is_authenticated %}
                <a href="/account/logout">Đăng xuất</a>
            {% else %}
              <login-container></login-container>
            {% endif %}
        </div>
    </div>
{% endblock%}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/login.js'%}"></script>

{% endblock %}
