{% extends 'basepage/classbase.html' %}
{% load staticfiles %}
{#{% load render_bundle from webpack_loader %}#}
{% block title %} Khóa học của tôi | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid m--padding-left-25 m--padding-right-25{% endblock %}
{% block class_stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/my-class.css' %}"/>

{% endblock class_stylesheets %}
{% block course %} active {% endblock %}
{% block bodycontent %}
    <div id="my-course-body">
        <div class="hero-area section w-100">
            <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/br.jpg' %})"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <ul class="hero-area-tree">
                            <li><a href="/">Trang chủ</a></li>
                            <li>Lớp học của tôi</li>
                        </ul>
                        <h1 class="white-text">Lớp học của tôi</h1>
                    </div>
{#                    <search></search>#}
                </div>
            </div>
        </div>
        <div class="container-fluid pl-md-0">
            <div class="row mx-0 mb-4">
                <div class="col-xl-3 col-lg-12 pl-0 pr-3">
                    <a-side></a-side>
                </div>
                <div class="col-xl-9 col-lg-12 px-3">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">
                        <div class="row mx-0">
                            <all-class></all-class>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_size %} container-fluid {% endblock %}
{% block class_javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/my-class.js' %}"></script>
{#    {% render_bundle 'myClass' %}#}

{% endblock class_javascripts %}
