{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/custom/classbase.css' %}">
    {% block class_stylesheets %}
    {% endblock class_stylesheets %}
{% endblock %}
{% block bodycontent %}

{% endblock%}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/custom/classbase.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascripts/lib/wizard.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascripts/lib/bootstrap-datepicker.js'%}"></script>
    <script type="text/javascript" src="{% static 'javascripts/lib/bootstrap-timepicker.js' %}"></script>

    {% block class_javascripts %}
    {% endblock class_javascripts %}

{% endblock %}