@charset "UTF-8";

/* GLOBAL
----------------------*/

@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Cabin');

body, button, .btn, a.btn, .m-portlet__head-text, .form-control {
    font-family: 'Muli', sans-serif !important;
}
body, .form-control {
    font-size: 15px;
    position: relative;
}

.container {
    padding: 0;
}

a {
    color: #374050;
    font-weight: 700;
    font-family: Muli, sans-serif !important;

}

a:hover {
    text-decoration: none;
    color: #26aade;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: Muli, sans-serif !important;
}
p {
    font-family: Muli, sans-serif !important;
    font-size: 15px;
}

.light-font {
    font-weight: 300;
}

.m-portlet {
    border-radius: 4px;
}

.btn-outline-light:hover {
    color: #d6619c;
}

.btn-primary {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    background-image: -webkit-linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    background-image: -ms-linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    background-image: linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}

.btn-light {
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
    font-size: 14px;
    font-weight: 500;
    color: #633991;
    margin: 0rem;
    padding: 0.7rem 1.6rem;
    line-height: 1.8;
}


.light-bg {
    background-color: #f6fafb;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width:767px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 30px;
    }
}


/* NAVBAR
----------------------*/

.nav-menu {
    padding: 1.25rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, #1ba6de 0%, #a4d6e7 100%);
    background: -webkit-linear-gradient(135deg, #1ba6de 0%, #a4d6e7 100%);
    background: linear-gradient(135deg,#1ba6de 0%, #a4d6e7 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.nav-menu.is-scrolling {
    padding: 8px 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
        font-weight: bold;
    }

}

@media (max-width: 1024px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

}

#m_aside_left_offcanvas_toggle{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.navbar {
    padding: 0 !important;
}

.btn.dropdown-toggle:after, .nav-link.dropdown-toggle:after {
    content: "";
    display: none;
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
    background-image: -webkit-linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
    background-image: -ms-linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
    background-image: linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}

/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 992px) {
    .hide-sm {
        display: none;
    }
}

.section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}


/*/BREADCRUMB/*/
.hero-area {
    position: relative;
    padding-top: 160px;
    padding-bottom: 80px;
}
.bg-image.bg-parallax {
    background-attachment: fixed;
}
.bg-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}
.bg-image.overlay:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
    background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
    opacity: 0.7;
}
.hero-area-tree li {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

.hero-area-tree li > a {
    color: rgba(255, 255, 255, 0.8);
}

.hero-area-tree li + li:before {
    content: "/";
    display: inline-block;
    margin: 0px 5px;
    color: rgba(235, 235, 235, 0.25);
}

/*ASIDE*/
@media (max-width: 1024px) {
    #m_aside_left {
        z-index: 1031;
    }
    #m_aside_left_close_btn{
        z-index: 1032;
    }
}
