{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}
{% block navisize %} container-fluid {% endblock %}

{% block title %} Tất cả khóa học | Hệ thống quản lý môn học {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/all-course.css'%}"/>
<style>
    #login-background {
        background-image: url("../../static/images/login.jpg");
    }
</style>
{% endblock %}
{% block courses %} active {% endblock %}
{% block bodycontent %}
<div class="container-fluid" id="all-course-body">
    <div class="row mx-3">
        <breadcrumb></breadcrumb>
    </div>
    <div class="row mx-3 m--margin-bottom-80-desktop m--margin-bottom-40-mobile justify-content-center">
        <search></search>
    </div>
    <div class="row mx-0 my-4">
        <div class="col-lg-3 col-sm-12 pr-3">
            <!--<div class="row">-->
            <!--<div class="col-12">-->
            <!--<h4>Chọn theo Khóa học </h4>-->
            <!--</div>-->
            <!--<div class="col-12">-->
            <!--<p>Toán học</p>-->
            <!--<p>Ngoại ngữ</p>-->
            <!--</div>-->
            <!--</div>-->
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light w-100">
                <!-- BEGIN: Aside Menu -->
                <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
                     m-menu-vertical="1" m-menu-scrollable="0" m-menu-dropdown-timeout="500">
                    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                        <li class="m-menu__section m-menu__section--first">
                            <h4 class="m-menu__section-text">Departments</h4>
                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                        </li>
                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover"><a href="javascript:;" class="m-menu__link m-menu__toggle"><i
                                class="m-menu__link-icon flaticon-layers"></i><span
                                class="m-menu__link-text">Resources</span><i
                                class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span class="m-menu__link-text">Resources</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true"><a href="inner.html"
                                                                                      class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Timesheet</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Payroll</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Contacts</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-suitcase"></i><span
                                class="m-menu__link-text">Finance</span></a></li>
                        <li class="m-menu__item m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover" m-menu-link-redirect="1"><a href="javascript:;"
                                                                                      class="m-menu__link m-menu__toggle"><i
                                class="m-menu__link-icon flaticon-graphic-1"></i><span
                                class="m-menu__link-title">  <span class="m-menu__link-wrap">      <span
                                class="m-menu__link-text">Support</span>      <span class="m-menu__link-badge"><span
                                class="m-badge m-badge--accent">3</span></span>  </span></span><i
                                class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"
                                        m-menu-link-redirect="1"><span class="m-menu__link"><span
                                            class="m-menu__link-title">  <span class="m-menu__link-wrap">      <span
                                            class="m-menu__link-text">Support</span>      <span
                                            class="m-menu__link-badge"><span
                                            class="m-badge m-badge--accent">3</span></span>  </span></span></span></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><span class="m-menu__link-text">Reports</span></a>
                                    </li>
                                    <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                                        m-menu-submenu-toggle="hover" m-menu-link-redirect="1"><a href="javascript:;"
                                                                                                  class="m-menu__link m-menu__toggle"><span
                                            class="m-menu__link-text">Cases</span><i
                                            class="m-menu__ver-arrow la la-angle-right"></i></a>
                                        <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                            <ul class="m-menu__subnav">
                                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                                    <a href="inner.html" class="m-menu__link "><span
                                                            class="m-menu__link-text">Pending</span></a></li>
                                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                                    <a href="inner.html" class="m-menu__link "><span
                                                            class="m-menu__link-text">Urgent</span></a></li>
                                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                                    <a href="inner.html" class="m-menu__link "><span
                                                            class="m-menu__link-text">Done</span></a></li>
                                                <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1">
                                                    <a href="inner.html" class="m-menu__link "><span
                                                            class="m-menu__link-text">Archive</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><span class="m-menu__link-text">Clients</span></a>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><span class="m-menu__link-text">Audit</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-light"></i><span class="m-menu__link-text">Administration</span></a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-share"></i><span
                                class="m-menu__link-text">Management</span></a></li>
                        <li class="m-menu__section ">
                            <h4 class="m-menu__section-text">Reports</h4>
                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-graphic"></i><span class="m-menu__link-text">Accounting</span></a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-network"></i><span
                                class="m-menu__link-text">Products</span></a></li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-network"></i><span
                                class="m-menu__link-text">Sales</span></a></li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-alert"></i><span class="m-menu__link-title">  <span
                                class="m-menu__link-wrap">      <span class="m-menu__link-text">Bills</span>      <span
                                class="m-menu__link-badge"><span
                                class="m-badge m-badge--danger">12</span></span>  </span></span></a></li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-technology"></i><span
                                class="m-menu__link-text">IPO</span></a></li>
                        <li class="m-menu__section ">
                            <h4 class="m-menu__section-text">System</h4>
                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover"><a href="javascript:;" class="m-menu__link m-menu__toggle"><i
                                class="m-menu__link-icon flaticon-clipboard"></i><span class="m-menu__link-text">Applications</span><i
                                class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span
                                            class="m-menu__link-text">Applications</span></span></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Audit</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Notifications</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Messages</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true"
                            m-menu-submenu-toggle="hover"><a href="javascript:;" class="m-menu__link m-menu__toggle"><i
                                class="m-menu__link-icon flaticon-computer"></i><span
                                class="m-menu__link-text">Modules</span><i
                                class="m-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="m-menu__submenu "><span class="m-menu__arrow"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item  m-menu__item--parent" aria-haspopup="true"><span
                                            class="m-menu__link"><span class="m-menu__link-text">Modules</span></span>
                                    </li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Logs</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Errors</span></a></li>
                                    <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a
                                            href="inner.html" class="m-menu__link "><i
                                            class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i><span
                                            class="m-menu__link-text">Configuration</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-cogwheel"></i><span
                                class="m-menu__link-text">Files</span></a></li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-lifebuoy"></i><span
                                class="m-menu__link-text">Security</span></a></li>
                        <li class="m-menu__item " aria-haspopup="true" m-menu-link-redirect="1"><a href="inner.html"
                                                                                                   class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-settings"></i><span
                                class="m-menu__link-text">Options</span></a></li>
                    </ul>
                </div>
                <!-- END: Aside Menu -->
            </div>
        </div>
        <div class="col-lg-9 px-3">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <div class="row mx-0">
                    <div class="col-12 text-right px-lg-2 px-0">
                        <div class="dropdown">
                            <button class="btn btn-secondary m-btn--pill m-btn-air dropdown-toggle" type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sắp xếp theo
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="top-start"
                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 0px, 0px);">
                                <a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="left"
                                   data-original-title="Tooltip title">Phổ biến nhất</a>
                                <a class="dropdown-item" href="#" data-toggle="m-tooltip" title="" data-placement="left"
                                   data-original-title="Tooltip title">Mới nhất</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row py-4 mx-0">
                    {% for i in '0123456789' %}
                    <div class="col-lg-4 p-0">
                        <div class="m-portlet m-portlet--bordered-semi m-portlet--full-height m-portlet--rounded-force p-3 mx-lg-2">
                            <div class="course-item-pic-text">
                                <div class="course-pic relative-position m--margin-bottom-25">
                                    <img src="{% static 'images/code.jpg'%}" alt="">
                                </div>
                                <div class="course-item-text">
                                    <div class="course-meta">
                                        <span class="course-category bold-font"><a href="#">CNTT</a></span>
                                        <span class="course-author bold-font"><a href="#">Hoàng Xuân Tùng</a></span>
                                        <span class="mr-0"><p class="font-weight-bold">INT3306 4</p></span>
                                    </div>
                                    <div class="course-title m--padding-top-10 headline m--padding-bottom-15 relative-position">
                                        <h3>
                                            Phát triển ứng dụng Web
                                            <!--<span class="trend-badge text-uppercase bold-font"><i class="fas fa-bolt"></i> TRENDING</span>-->
                                        </h3>
                                        <a class="m--pull-right m--margin-bottom-20 mt-1" href="#"><em>Xem khóa học &nbsp; <i class="fa fa-arrow-right"></i></em></a>
                                    </div>
                                    <div class="course-viewer ul-li d-inline-block">
                                        <ul>
                                            <li><p class="m-0"><i class="fas fa-user"></i> 1.220</p></li>
                                            <!--<li><p><i class="fas fa-comment-dots"></i> 1.015</p></li>-->
                                            <li><p class="m-0">125k Unrolled</p></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'javascripts/all-course.js'%}"></script>

{% endblock %}