{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}
            
{% block title %} Liên hệ | Hệ thống quản lý môn học {% endblock %}
            
{% block navisize %} container-fluid {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/contact.css'%}"/>
    <style>
        #login-background {
            background-image: url("../../static/images/login.jpg");
        }
    </style>
{% endblock %}       
{% block contact %} active {% endblock %}
            
{% block bodycontent %}
            
    <div id="contact-body" class="container-fluid">
        <div class="row mx-3">
            <breadcrumb></breadcrumb>
        </div>

        <div class="row mt-2 mx-0">
            <div class="col-lg-4 col-md-4 col-sm-12 d-none d-sm-block m--margin-bottom-25">
                <div class="m-portlet px-3 h-100 mr-1">
                    <div class="mx-3">
                        <div class="pt-3 m--regular-font-size-lg4 m--font-boldest">Địa chỉ liên hệ</div>
                        <hr>
                        <!--<div class="text-info">Phòng đào tạo</div>-->
                        <!--<div class="text-primary text-center lead"> Trường Đại Học Công Nghệ - ĐHQGHN</div>-->
                        <p class="m--regular-font-size-lg1"><i class="fa fa-map-marker"></i> <strong>Phòng đào tạo ĐHCN - ĐHQGHN</strong> P104, E3, Đại Học Công Nghệ, ĐHQGHN, 144, Xuân Thủy, Cầu Giấy, Hà Nội</p>
                        <p class="m--regular-font-size-lg1"><i class="fa fa-envelope"></i> <strong>Email: </strong> pyedu@gmail.vn</p>
                    </div>
                </div>
            </div>
             <div class="col-lg-8 col-md-8 col-sm-12 m--margin-bottom-25">
                <div class="m-portlet px-3 h-100">
                        <div class=" mx-3 pt-3 m--regular-font-size-lg4 m--font-boldest">Phản hồi</div>
                        <hr  class="mx-3 px-3">
                            <div class="m-5 bg-white">
                                <div class="form-group m-form__group row">
                                    <label for="username" class="col-3 col-form-label">Tên người dùng</label>
                                     <div class="col-8">
                                        <input id="username" name="username" class="form-control m-input" type="text">
                                    </div>
                                </div>
            
                                <div class="form-group m-form__group row">
                                    <label for="email" class="col-3 col-form-label">Email</label>
                                    <div class="col-8">
                                        <input id="email" name="email" class="form-control m-input" type="text">
                                    </div>
                                </div>
            
                                <div class="form-group m-form__group row">
                                    <label for="content" class="col-3 col-form-label">Nội dung</label>
                                    <div class="col-8">
                                        <textarea id="content" name="content" class="form-control m-input" type="text" rows="9"></textarea>
                                    </div>
                                </div>  
                                
                                <div class="mt-5 row">
                                    <div class="col-3"></div>
                                    <div class="col-8">
                                        <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom">Gửi phản hồi</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Hủy bỏ</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-2"></div>
            </div>
        </div>
    
    </div>

            
{% endblock %} 
            
{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/contact.js'%}"></script>
{% endblock %}