{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Trợ giúp | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/help.css'%}"/>
{% endblock %}
{% block help %} active {% endblock %}

{% block bodycontent %}
<div class="container-fluid" id="help-body">
    <div class="row mx-0">
        <div class="col-lg-8">
            <breadcrumb></breadcrumb>
        </div>
        <div class="col-lg-4">
            <search></search>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-lg-9">
            <div class="row">
                <!--<h2>Danh sách câu hỏi có sẵn</h2>-->


            </div>

        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/help.js'%}"></script>

{% endblock %}