{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'stylesheets/homepage.css'%}"/>
{% endblock %}
{% block home %} active {% endblock %}
{% block bodycontent %}
<div class="landing-background">
    <div class="section section--header">
        <div class="section-shape">
            <img src="{% static 'images/waves-shape.svg'%}" alt="shape image">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="intro">
                        <!--<img src="../../static/images/uet.jpg" alt="" width=20% class="m&#45;&#45;img-rounded" style="margin-bottom: 40px">-->
                        <div class="intro_text">
                            <h2 class="intro__title">Hệ thống quản lý môn học</h2>
                            <p class="intro__description">Đại Học Công Nghệ - Đại Học Quốc Gia Hà Nội</p>
                        </div>
                        <div class="intro__buttons my-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    {% if user.is_authenticated %}
                                    <a href="#"
                                       class="btn m-btn--pill btn-outline-light m-btn--air m-btn--hover-light btn-lg">Khóa
                                        học của tôi</a>
                                    {% else %}
                                    <a href="/login"
                                       class="btn m-btn--pill btn-outline-light m-btn--air m-btn--hover-light btn-lg">Đăng
                                        nhập ngay</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 animated bounceInRight hide-sm">
                    <img src="{% static 'images/study.svg'%}" alt="" width="500vw">
                </div>
            </div>
        </div>
        <div class="shape shape-style-1 shape-primary">
            <span class="circle-150"></span>
            <span class="circle-50"></span>
            <span class="circle-50"></span>
            <span class="circle-75"></span>
            <span class="circle-100"></span>
            <span class="circle-150"></span>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{% static 'javascripts/homepage.js'%}"></script>
{% endblock %}