{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Môn học | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/inner-course.css'%}"/>

{% endblock %}
{% block course %} active {% endblock %}

{% block bodycontent %}
<div class="container-fluid" id="inner-course-body">
    <div class="row mx-3">
        <breadcrumb></breadcrumb>
    </div>
    <div class="mx-0 my-4">

    </div>


</div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/inner-course.js'%}"></script>
{% endblock %}