{% extends 'basepage/mainbase.html' %}
{% load staticfiles %}

{% block title %} Môn học | Hệ thống quản lý môn học {% endblock %}

{% block navisize %} container-fluid {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'stylesheets/inner-course.css'%}"/>

{% endblock %}
{% block contact %} active {% endblock %}

{% block bodycontent %}



{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'javascripts/inner-course.js'%}"></script>
{% endblock %}