@charset "UTF-8";

body {
    background-color: #fff;
}

header {
    padding: 100px 0 0;
    text-align: center;
    color: #FFF;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gradient {
    background-image: -moz-linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
    background-image: -webkit-linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
    background-image: -ms-linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
    background-image: linear-gradient( 135deg, #0098d6 0%, #00cbd6 100%);
}

@media (min-width: 992px) {
    .bg-gradient {
        height: 640px;
    }
}

.section--header {
    height: 100%;
    position: relative;
    padding-bottom: 5rem;
    /*background: url(../images/.jpg);*/
    /*background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);*/
    background-position-x: center;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-attachment: fixed;
}

.section-shape {
    bottom: -4px;
    left: 0;
    position: absolute;
    right: 0;

}

.section-shape img {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

.section-circle .shape {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.shape-style-1 span {
    width: 120px;
    height: 120px;
    border-radius: 100px 130px 100px 315px;
}

.shape span {
    position: absolute;
}

.shape-style-1 :nth-child(1) {
    bottom: auto;
    left: -3%;
    top: -20px;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 .circle-150 {
    width: 150px;
    height: 150px;
}

.shape-style-1 :nth-child(2) {
    top: 15%;
    right: 10%;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 .circle-50 {
    width: 50px;
    height: 50px;
}

.shape-style-1 :nth-child(3) {
    top: 80%;
    right: 40%;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 .circle-75 {
    width: 75px;
    height: 75px;
}

.shape-style-1 .circle-100 {
    width: 100px;
    height: 100px;
}

.shape-style-1 :nth-child(4) {
    top: 14%;
    right: 47%;
    background: rgba(255, 255, 255, .1);
}

.shape-style-1 :nth-child(5) {
    top: 54%;
    right: 60%;
    background: rgba(255, 255, 255, .1);
}

.intro {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    padding-top: 30px;
}

@media (min-width: 992px) {
    .intro {
        text-align: left;
    }
}

.intro__title {
    padding: 20px 0;
    font-size: 32px !important;
    font-weight: 400;
    font-size: 3rem !important;
}
.intro_text {
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    /*text-align: center;*/
}
.intro__description {
    font-size: 18px;
}

.tagline {
    font-size: 23px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 800px;
    margin: 0 auto;
}

.img-holder {
    height: 0;
    padding-bottom: 33%;
    overflow: hidden;
}

@media (max-width:1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width:767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}

/*ABOUT   */


#about h2 {
    font-size: 30px;
}
#about h4, #about h2 {
    margin-top: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #374050;
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .lead {
        font-size: 21px !important;
    }
}
#about .feature {
    position: relative;
}

.feature + .feature {
    margin-top: 40px;
}

#about .feature .feature-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #EBEBEB;
    color: #FF6700;
}
.feature-content {
    padding-left: 100px;
}

.about-img > img {
    width: 100%;
}
/* FEATURES
----------------------*/

.gradient-fill:before {
    color: #fc73b4;
    background: -moz-linear-gradient(top, #1ba6de 0%, #a4d6e7 100%);
    background: -webkit-linear-gradient(top, #1ba6de 0%, #a4d6e7 100%);
    background: linear-gradient(to bottom, #1ba6de 0%, #a4d6e7 100%);
    -webkit-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
}

.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}

@media (max-width:991px) {
    .card.features {
        margin-bottom: 2rem;
    }
    [class^="col-"]:last-child .card.features {
        margin-bottom: 0;
    }
}

.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #fc73b4;
    background: -moz-linear-gradient(top, #1ba6de 0%, #a4d6e7 100%);
    background: -webkit-linear-gradient(top, #1ba6de 0%, #a4d6e7 100%);
    background: linear-gradient(to bottom, #1ba6de 0%, #a4d6e7 100%);
    top: 0;
    bottom: 0;
    left: 0;
}

.card-title {
    font-size: 2.5rem;
}
.vertical-align-top {
    vertical-align: top;
}
.statistic-icon {
    font-size: 4rem;
}
.statistic-text {
    font-size: 1.75rem;
    font-weight: lighter;
}

.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}

.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
}

.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #f4683b;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}

@media (max-width:992px) {
    .circle-icon {
        width: 70px;
        height: 70px;
        font-size: 28px;
        line-height: 50px;
    }
}

.ui-steps li:hover .circle-icon {
    background-image: -moz-linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    background-image: -webkit-linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    background-image: -ms-linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    background-image: linear-gradient( 122deg, #1ba6de 0%, #a4d6e7 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09);
    color: #FFF;
}

.ui-steps li {
    padding: 15px 0;
}

.ui-steps li:not(:last-child) {
    border-bottom: 1px solid #9ed4e6;
}

.perspective-phone {
    position: relative;
    z-index: -1;
}

@media (min-width:992px) {
    .perspective-phone {
        margin-top: -150px;
    }
}


/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width:992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.tab-content p {
    line-height: 1.8;
}

.tab-content h2 {
    margin-bottom: 0.5rem;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #faf6fb #faf6fb #FFF;
    font-size: 19px;
    color: #b5a4c8;
    background: #f5eff7;
}

.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    color: #633991;
}


/*  TESTIMONIALS
----------------------*/

.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #f4683b61;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ea6a2d;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ea6a2d;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}


/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}


/*  PRICING
----------------------*/

@media (max-width:992px) {
    .card-deck {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-deck .card {
        margin-bottom: 15px;
    }
}

.card.pricing {
    border: 1px solid #f1eef1;
}

.card.pricing.popular {
    border-top-width: 3px;
    border-color: #ce75b4 #faf6fb #FFF;
    box-shadow: 0px 12px 59px 0px rgba(36, 7, 31, 0.11);
    color: #633991;
}

.card.pricing .card-head {
    text-align: center;
    padding: 40px 0 20px;
}

.card.pricing .card-head .price {
    display: block;
    font-size: 45px;
    font-weight: 300;
    color: #633991;
}

.card.pricing .card-head .price sub {
    bottom: 0;
    font-size: 55%;
}

.card.pricing .list-group-item {
    border: 0;
    text-align: center;
    color: #959094;
    padding: 1.05rem 1.25rem;
}

.card.pricing .list-group-item del {
    color: #d9d3d8;
}

.card.pricing .card-body {
    padding: 1.75rem;
}


/*  CALL TO ACTION
----------------------*/

.call-to-action {
    text-align: center;
    color: #FFF;
    margin: 3rem 0;
}

.call-to-action .box-icon {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transform: scale(0.85);
    margin-bottom: 2.5rem;
}

.call-to-action h2 {
    color: #FFF;
}

.call-to-action .tagline {
    font-size: 16px;
    font-weight: 300;
    color: #ffb8f6;
    max-width: 650px;
    margin: 0 auto;
}

.btn-light img {
    margin-right: 0.4rem;
    vertical-align: text-bottom;
}


/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #FFF;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}

@media (max-width:991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}

.course {
	margin-top:20px;
	margin-bottom:20px;
}

.course .course-img {
	position: relative;
	display:block;
	margin-bottom:20px;
	border-radius:4px;
	overflow:hidden;
}

.course .course-img > img {
	width:100%;
}

.course-img:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color:#9ad2e66b;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.course .course-img:hover:after {
	opacity:0.7;
}

.course .course-img .course-link-icon {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50% , calc(-50% - 15px));
	    -ms-transform: translate(-50% , calc(-50% - 15px));
	        transform: translate(-50% , calc(-50% - 15px));
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:2px solid #fff;
	color:#fff;
	border-radius:50%;
	opacity:0;
	z-index:10;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.course .course-img:hover .course-link-icon {
	-webkit-transform: translate(-50% , -50%);
	    -ms-transform: translate(-50% , -50%);
	        transform: translate(-50% , -50%);
	opacity:1;
}

.course .course-title {
	display:block;
	height:42px;
}

.course .course-details {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #EBEBEB;
}

.course .course-details .course-price {
	float: right;
}

.course .course-details .course-price.course-free {
	color: green;
}

.course .course-details .course-price.course-premium {
	color: #FF6700;
}

#courses .center-btn {
	text-align:center;
	margin-top:40px;
}

/*SUBJECTS*/

.course-category-section {
    background-color: #f7f7f7;
    padding: 50px 0px 125px;
}

.category-icon-title {
    background-color: #f6fafb;
    padding: 35px;
    border-radius: 4px;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    position: relative;
    height: 90%;
}
.category-icon {
    position: relative;
    z-index: 1;
}

.category-icon-title:hover {
    -webkit-box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.1);
}

.category-icon-title:hover .category-icon i {
    color: #fff;
    -webkit-text-fill-color: inherit;
}
.category-icon i {
    font-size: 60px;
}
.text-gradiant {
    background: -moz-linear-gradient(left, #01a6fd 0%, #17d0cf 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #01a6fd), color-stop(100%, #17d0cf));
    background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 100%);
    background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 100%);
    background: -ms-linear-gradient(left, #01a6fd 0%, #17d0cf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.category-title {
    margin-top: 10px;
    position: relative;
    z-index: 1;
}

.category-icon-title:hover .category-title h4 {
    color: #fff;
}
.category-title h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.category-icon-title:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.category-icon-title:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: #17d0cf;
    background: -moz-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #17d0cf), color-stop(100%, #4eb3bf));
    background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #0071b0 100%);
    background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    background: -ms-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
    background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
    background-size: 200% auto;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    border-radius: 4px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}